<nav class="navbar navbar-default navbar-static-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand">
				<img alt="cbVid" style="max-height: 23px" src="logo.png" ui-sref="cbvid.list" ng-dblclick="manualMagnet()">
			</a>
		</div>
		<div class="navbar-form navbar-left" role="search">
			<div class="form-group">
				<input type="text" class="form-control" ng-model="search.text" placeholder="Search" ng-change="searchtor()">
			</div>
		</div>
		<div>
			<ul class="nav navbar-nav navbar-right">
								
				<li style="margin-right: 20px; margin-left: 15px">
					<button style="margin-top: 10px" type="button" class="btn btn-default btn-sm" ng-click="requestMyView()">My View</button>
				</li>
				<li><a ng-click="logout()">Logout ({{$storage.username}})</a></li>
			</ul>
		</div>
	</div>
</nav>
<div ui-view></div>