<div class="container-fluid" style="height: 100%">
	<div class="row">
		<div class="col-lg-7">
			<div style="text-align: center; padding-bottom: 20px">
				<div class="player"></div>
				<h3 style="margin-bottom: 20px">
					{{activeVideo.title}}
				</h3>
				<span ng-if="activeVideo.terminated" style="color: red">This video cannot be streamed.</span>
				<span ng-if="activeVideo.remaining && activeVideo.remaining > 0" ng-class="[{bad: (activeVideo.remaining > 30)}, {borderline: (activeVideo.remaining < 30 && activeVideo.remaining > 0)}, {good: (activeVideo.remaining <= 0)}]">Wait <span ng-if="activeVideo.remaining < 86400"> {{activeVideo.remaining | secondsToDateTime | date:'HH:mm:ss'}}</span> before playing or you won't be able to watch all the way through.</span>
				<span ng-if="canTransition">
					<button type="button" class="btn btn-default btn-sm" ng-click="setVideo(true)">
						Make Seekable
					</button>
				</span>
			</div>
		</div>
		<div class="col-lg-5">
			<ul class="example-animate-container">
				<li ng-show="search.text && (torrentList | isEmpty)" style="margin-top: 0px"><h3 style="margin-top: 0px">No Results</h3></li>
				<li ng-if="(torrent | greenVideo)" ng-repeat="torrent in torrentList" class="animate-repeat ellipsis">
					<button style="margin-right: 10px" type="button" class="btn btn-default btn-sm" ng-click="playTorrent(torrent)">
						<span class="glyphicon glyphicon-play-circle"></span>
					</button>
					<button ng-if="isInMyView" style="margin-right: 10px" type="button" class="btn btn-default btn-sm" ng-click="removeTorrent(torrent)">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
					<span ng-bind="torrent.title" ng-class="[{done: (torrent.torrenting == false)}, {good: (torrent.remaining <= 0)}]"></span>
				</li>
				<li ng-if="!(torrent | greenVideo)" ng-repeat="torrent in torrentList" class="animate-repeat ellipsis">
					<button style="margin-right: 10px" type="button" class="btn btn-default btn-sm" ng-click="playTorrent(torrent)">
						<span class="glyphicon glyphicon-play-circle"></span>
					</button>
					<button ng-if="isInMyView" style="margin-right: 10px" type="button" class="btn btn-default btn-sm" ng-click="removeTorrent(torrent)">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
					<span ng-bind="torrent.title" ng-class="[{terminated: (torrent.terminated)}, {bad: (torrent.remaining > 30 && !torrent.terminated)}, {borderline: (torrent.remaining < 30 && torrent.remaining > 0 && !torrent.terminated)}]"></span><span ng-if="torrent.remaining > 0 && torrent.remaining < 86400"> ({{torrent.remaining | secondsToDateTime | date:'HH:mm:ss'}})</span>
				</li>
			</ul>
		</div>
	</div>
</div>