<div class="container-fluid" style="height: 100%">
	<div class="row">
		<div class="col-lg-7">
			<div style="text-align: center">
				<div class="player"></div>
				<h3 style="margin-bottom: 20px">
					{{activeVideo.title}}
				</h3>
			</div>
		</div>
		<div class="col-lg-5">
			<ul class="example-animate-container">
				<li ng-show="search.text && (torrentList | isEmpty)"><h3>No Results</h3></li>
				<li ng-if="search.text" ng-repeat="torrent in torrentList" class="animate-repeat ellipsis">
					<button style="margin-right: 10px" type="button" class="btn btn-default btn-sm" ng-click="playTorrent(torrent.title, torrent.magnet)">
						<span class="glyphicon glyphicon-play-circle"></span>
					</button>
					<span ng-bind="torrent.title" ng-class="[{done: (torrent.torrenting == false && !torrent.terminated)}, {terminated: (torrent.terminated)}, {bad: (torrent.remaining > 30)}, {borderline: (torrent.remaining < 30 && torrent.remaining > 0)}, {good: (torrent.remaining <= 0)}]"></span><span ng-if="torrent.remaining > 0"> ({{torrent.remaining | secondsToDateTime | date:'HH:mm:ss'}} remaining)</span>
				</li>
			</ul>
		</div>
	</div>
</div>